---

// layout
import Main from "../../layout/Main.astro";

// components
import PageMainHeader from "../../components/PageMainHeader.astro";

---
<Main id="home" title="Francais" lang="fr">

	<PageMainHeader>
		Ta mere
	</PageMainHeader>
	
</Main>